/.idea
/.vscode
/.cursor/*
!/.cursor/rules
/.gemini/*
!/.gemini/GEMINI.md
/.cursorrules
**/node_modules
**/vendor

/.docker/*/data/*
/.docker/*/logs/*

**/package-lock.json
**/.env
**/.env.production
**/.env.backup
**/*.log*
**/tmp/*